<div id="timeline" class="block_html block mb-3" style="position: relative;">
  <div class="header">
    <div class="title">
      <h2 class="d-inline">Timeline Widget</h2>
    </div>
  </div>
  <div class="content" style="position: relative; margin-top: 1.3rem; padding: 0 !important;">
    <span class="overlay-icon-container" data-region="overlay-icon-container">
      <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw " title="Loading"
          aria-label="Loading"></i></span>
    </span>
  </div>

</div>